body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF5D9;
    color: #333;
    line-height: 1.6;
}

header {
    background: #A23018;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 28px;
}

header p {
    font-size: 18px;
}

#downloads {
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#downloads h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.download-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-download {
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-download.android {
    background-color: #A23018;
}

.btn-download.android:hover {
    background-color: #FFE498;
    color: #A23018;
    transform: translateY(-2px);
}

.btn-download.pc {
    background-color: #A23018;
}

.btn-download.pc:hover {
    background-color: #FFE498;
    color: #A23018;
    transform: translateY(-2px);
}

footer{
    /* border-top: 5px solid #6f6f6f; */
    background-color: #A23018;
    color: #fff;
    padding: 30px 100px;;
}
footer h1{
    font-family: 'Playfair Display', serif;
    border-bottom: 1px solid #FFE498;
    width: 20%;
    padding-bottom: 5px;
}
footer .services{
    margin-top: -10px;
    display:flex;
    flex-wrap:wrap;
}
footer .services .service{
    margin-right: 30px;
}
footer .services .service p{
    max-width: 300px;
}
.hidden-link {
    color: inherit;
    text-decoration: none;
}
footer #contact{
    color: #FFE498;
}

@media screen and (max-width:680px){
    nav .onglets {
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .main {
        margin: 10px;
    }
    .main img{
        height:200px;
        width: 100%;
        margin-top: -0px;
    }
    .main {
        display: block;
    }
    footer{
        padding: 30px;
    }
}
